* {
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * Navigation Section
 */

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

#navlogo {
  height: 80px;
}

#navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#navlinks nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

#navlinks nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
}

#search {
  position: relative;
  top: 2px;
  left: 175px;
  border: none;
  font-family: Arial;
  background-color: transparent;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#search:hover {
  text-decoration: none;
}

#search-button {
  height: 15px;
}

/**
 * Hero Section
 */

#hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

#hero-text {
  position: relative;
  left: 80px;
}

#hero1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  left: -120px;
}

#hero-image {
  height: 725px;
}

#hero-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d93434;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#hero-button:hover {
  font-weight: bold;
}

/**
 * Category Section
 */

#category-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

#category-1 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: #000000 1px solid;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  box-shadow: #7c7c7c 5px 5px 5px;
}

#category-2 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: #000000 1px solid;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  box-shadow: #7c7c7c 5px 5px 5px;
}

#category-3 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border: #000000 1px solid;
  border-radius: 15px;
  margin: 5px 5px 5px 5px;
  box-shadow: #7c7c7c 5px 5px 5px;
}

#male {
  position: relative;
  left: 30px;
  height: 200px;
}

#cat-1-text {
  position: relative;
  top: 175px;
  left: -155px;
}

#female {
  height: 200px;
}

#cat-2-text {
  position: relative;
  top: 175px;
  left: -175px;
}

#live {
  position: relative;
  left: 55px;
  top: 20px;
  height: 175px;
}

#cat-3-text {
  position: relative;
  top: 185px;
  left: -110px;
}

#cat-text {
  font-weight: bold;
}

/**
 * Services Section
 */

#service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 200px;
}

#svc {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 60px;
}

#main-service {
  font-weight: bold;
}

#second-service {
  color: gray;
  margin-top: -10px;
}

/**
 * Blog Section
 */

#blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 650px;
}

#blog-header {
  position: relative;
  top: -200px;
  left: 480px;
}

#blog-subtitle {
  color: gray;
  position: relative;
  left: 35px;
  top: -15px;
}

#blogs {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  top: 320px;
}

#blog-1 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
}

#blog-2 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
}

#blog-3 {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 300px;
}

/**
 * Brands Section
 */

#brands-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
  height: 150px;
}

#brands {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;
}

#brand-1 {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#brand-2 {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#brand-3 {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#brand-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  position: relative;
  left: -20px;
}

#brand-5 {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#brand-6 {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#brand-7 {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

/**
 * Footer Section
 */

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

/**
 * Product Details Page
 */

#breadcrumb-container {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  top: 40px;
}

#product-container {
  display: flex;
  justify-content: space-between;
  align-items: centers;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  height: 500px;
  position: relative;
  top: 90px;
}

#product-image {
  position: relative;
  left: 180px;
}

#extended-images {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 300px;
  left: -300px;
}

#product-info {
  position: relative;
  left: -200px;
}
